:host {
  padding: 1rem 2rem;
  display: block;
}

.counters {
  display: flex;
  margin-bottom: 2rem;

  .counter {
    margin-right: 3rem;
    text-align: center;

    button {
      outline: none;
      padding: 0.25rem 2rem;
      margin: 0.5rem;
      font-size: 2rem;
    }
  }
}

.connect-wrapper {
  display: flex;
  .connect {
    width: 16rem;
    margin-right: 2rem;

    h4 {
      margin-bottom: 0.5rem;
    }
  }

  button {
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
  }

  .input-wrapper {
    margin-bottom: 1rem;
  }

  input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #318fd8;
    outline: none;
  }
}
